@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');
body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
body *{
    box-sizing: border-box;
}
:root{
    --color1:#141726;
    --color2:#2F3940;
    --color3:#592C34;
    --color4:#222640;
    --color5:#4A678C;
    --color6:#8EACBF;
    --color7:#77ffc0;
    --color8:#2f2841;
    --color9:#1E232E;
    --color10:#010221;
    --color11:#514869;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esquerda > h1{
    font-size: 3vh;
    color: #0f8;
   
}
.image{
    width: 35vw;
    box-shadow: rgba(0, 0, 0, 0.7) ;
}
.direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-login{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--color4);
    border-radius: 20px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}
.card-login > h1{
    color: #0f8;
    font-weight: 900;
    margin: 0;
}
.textfild{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfild > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--color10) ;
    color: #0f8;
    font-size: 15pt;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    outline: none;
    box-sizing: border-box;
}

.textfild > label{
    color: var(--color7);
    margin-bottom: 10px;
    font-size: 13pt;

}
.textfild >input:hover{
    animation: transform 1s;
}
.textfild > input::placeholder{
    color: var(--color5);
}
.btn-login{
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: #141726;
    background-color: #0f8;
    cursor: pointer;
    box-shadow: 0px 10px 40px -13px #00ff9052; 

}
.btn-login:hover{
    animation: transform 1s;
}
@keyframes transform{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}
@media only screen  and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
@media only screen and (max-width: 600px){
    .main{
        flex-direction: column;
    }
    .esquerda > h1{
        display: none;
    }
    .esquerda{
        width: 100px;
        height: auto;
    }
    .image{
        width: 50vw;
    }
}
